
html {
  height: 100%;
}

body {
  min-height: 100%;
}

$multipliers: 5;

@for $i from 1 through $multipliers {
  .margin-top-#{$i*4} { margin-top: $i * 4px; }
  .pad-#{$i*4} { padding: $i * 4px; }
}
